body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

#root {
  width: 90%;
  margin: 1% auto;
}

pre {
  text-align: left;
  line-height: 20px;
  white-space: pre-wrap;
}
